h4 {
    margin-bottom: 5px;
}
mat-card {
    display: inline-block;
    float: left;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 85%;
}
.event-description {
    color: #636e72;
    margin-bottom: px;
}
.event-date {
    color: #636e72;
    margin-bottom: 20px;
    text-align: right;
    width: 100%;
}
.card-title {
    /* background-color: aquamarine; */
    margin-bottom: 50px;
    width: 100%;
}
.card-title mat-icon {
    /* background-color: aliceblue; */
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.card-title h1 {
    display: inline-block;
    float: left;
}
.volunteer-programs {
    text-align: justify;
}
