<section name="about-me" class="d-flex flex-wrap j-content-evenly bg-secondary p-md">
  <div class=" text-primary font-fauna m-l-md ">
    <h2>Computer Engineer doing Software Development 🚀</h2>
    <p>
      Born and raised human proudly in Tijuana, Baja California but currently based<br>in Mexico city.
      <br><br>
      Working as front end developer / project manager doing financial and IoT<br>
      platforms using Angular and other <i class="fab fa-js fa-lg js-icon"></i> frameworks.
    </p>
    <p>
      I'm a
      <strong>
        <a href="https://githubcampus.expert/luisejrobles/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">GitHub Campus Expert</a> 🚩
      </strong> who supports tech communities all over Mexico<br>
      with talks / conferences / workshops but also mentoring students and helping<br> 
      organize events such as hackathons, workshops and meetups.
    </p>
    <p>
      Constantly learning new tools / frameworks, tech things.<br>
      Starting into DevOps stuff for just fun (Docker, Kubernetes, CI/CD)<br>
      but I'm also into Project Management, tech blogs and empowering others ✨
    </p>
    <br>
    <p>
      <strong>Interesed in:</strong><br>Closing the gap between education and tech industry
      via students inclusion.<br>
      Tech writing/speaking<br>
      Teaching / advising students but most important<strong> learning from them.</strong><br>
      Supporting tech communities.
    </p>
    <br>
    <p>
      <strong>Studied:</strong><br>
      Computer Engineering 💻<br>
      <small>
        Universidad Autónoma de Baja California, Campus Tijuana<br>
        @Tijuana, Baja California
      </small>
    </p>

  </div>
  <div class=" text-primary font-fauna m-l-md">
    <h2>Previously volunteering / doing as a hobbie 👇</h2>
    <h4>Google Developer Group Tijuana chapter <small>organizing member</small></h4>
    <p>
      For almost 5 years, helped improve the tech industry in Baja California<br>
      by organizing local meetups, workshops, hackathons and partnerships<br>
      between companies and schools.
    </p>
    <p>
      10+ workshops/conferences/talks given.<br>
      20+ events organized.<br>
      Strong and close relationship with local tech industry and schools<br>
      Local/regional tech scene involvement.<br>
      Empowered and supported 100+ students.
    </p>
    <br>
    <h4>Global Shapers Tijuana hub <small>member</small></h4>
    <p>
      As a WEF (World Economic Forum) initiative, Global Shaper chapters<br>
      empowers young people to improve their community via social/cultural<br>
      projects driving dialogue, action and change.
    </p>
    <br>
    <h4>Google Certified Educator</h4>
    <p>
      Helped schools, companies, and governments transition into the digital world<br>
      by implementing Google technologies such as Google Drive, Gmail, Classroom<br>
      via courses and as a consultant.
    </p>
    <p>
      8+ Organizations completely transformed.<br>
      15+ Courses given.<br>
      40+ hours given as ana advisor.

    </p>
  </div>
</section>