.navbar-height {
    height: 60px;
}
a {
    text-decoration: none;
}
a:hover{
    color: white;
}

@media(max-width: 600px) {
    .j-content-end {
        justify-content: space-evenly;
    }

    .m-r-xl {
        margin-right: 0px;
    }
}