<mat-card class="mat-typography">
  <div class="card-title">
    <mat-icon>account_box</mat-icon>
    <h1>General Bio</h1>
  </div>
  <div class="general-bio-container">
    <p>
      Born and raised in Tijuana, Baja California Mexico passionate about geek - tech - arts - cultural things and making things done.<br>
      Most of my time in university I was involved with non profit organizations and volunteer programs creating solutions for my city and school
      participating and creating events, workshops, meetups and more. Really interested in closing the gap between technology, school and community in Mexico. I think
      there's still a lot to do and I'm trying my best to solve it.<br>
      Constantly in hackathons as coach, mentor and/or participating. Won a few awards, swag, coupons and other things but the most valuable thing
      that happens in the event is knowing a lot of creative and talented people.<br>
      Right now I'm focusing in a Machine Learning career.
    </p>      
  </div>
  <mat-chip-list>
    <mat-chip *ngFor="let skill of this.luisejrobles.skills" color="accent" selected="true">{{ skill }}</mat-chip>
  </mat-chip-list>
</mat-card>