<mat-card class="mat-typography">
  <div class="card-title">
    <mat-icon>account_box</mat-icon>
    <h1>General Bio</h1>
  </div>
  <div class="general-bio-container">
    <p>
      Born and raised in Tijuana, Mexico. <br> 
      Passionate about geek / tech / art / cultural things but also in making things done. Most of my time as student I was 
      involved with non profit organizations and volunteer programs creating solutions for my city and school
      doing events, workshops and meetups in the tech industry. Really interested in closing the gap between technology, 
      school and community in Mexico as I think there's still a lot to do and I'm trying my best to solve it.<br>
      Constantly in hackathons as coach, mentor or participating meeting new interesting and talented people.<br>
    </p>      
  </div>
  <mat-chip-list>
    <mat-chip *ngFor="let skill of this.luisejrobles.skills" color="accent" selected="true">{{ skill }}</mat-chip>
  </mat-chip-list>
</mat-card>