mat-card {
    display: inline-block;
    float: left;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 85%;
}

.card-title mat-icon {
    /* background-color: aliceblue; */
    color: #b2bec3;
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.card-title h1 {
    color: #b2bec3;
    display: inline-block;
    float: left;
}
.general-bio-container {
    margin-top: 50px;
    text-align: justify;
}

