.personal-description {
    /* background-color: red; */
    display: inline-block;
    float: left;
    height: 100%;
    width: 70%;
    text-align: center;
    margin: auto;
}
.personal-photo {
    display: inline-block;
    float: left;
    height: 100%;
    text-align: center;
    width: 30%;
    vertical-align: middle;
}
