.container {
    /* background-color: aqua; */
    height: 90%;
    /* width: 100%; */

}
section {
    background-color: burlywood;
    margin: auto;
    width: 98%;
}
.section-title mat-icon {
    background-color: gray;
    display: inline-block;
}
.section-title h1 {
    background-color: aquamarine;
    display: inline-block;
}
.name-div {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    width: 75%;  
}
.personal-description {
    background-color: red;
    display: inline-block;
    float: left;
    height: 100%;
    width: 70%;
    text-align: center;
    margin: auto;
}
.personal-photo {
    background-color: gainsboro;
    display: inline-block;
    float: left;
    height: 100%;
    text-align: center;
    width: 30%;
    vertical-align: middle;
}
