.container {
    background-color: aqua;

}
.name-div {
    display: inline-block;
    margin: 0 auto;
    width: 75%;  
}
.personal-description {
    background-color: red;
    display: inline-block;
    height: 100%;
    width: 69%;
}
.personal-photo {
    background-color: gainsboro;
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 30%;
}