.text-primary,
strong > a,
strong,
.text-mexican-pink {
  color: #ea9085;
}
.bg-primary {
  background-color: black;
}

.bg-secondary {
  background-color: black;
}

.text-secondary,
div > a {
  color: white;
}

h2,
h1 {
  color: #d45d79;
}

p {
  color: white;
}
