<mat-card>
  <img [src]="this.personalInfoService.personalInfo.img" alt="" width="75%" height="75%">
  <h1>
    {{ this.personalInfoService.personalInfo.name}}
  </h1>
  <div class="short-bio"> 
    <p *ngFor="let paragraph of this.personalInfoService.personalInfo.shortBio">
        {{ paragraph }}
    </p> 
    <!-- </p> -->
  </div>
  <div class="social-media">
   
    <a mat-icon-button class="fa fa-facebook" target="_blank" [href]="this.personalInfoService.personalInfo.socialMedia.facebookURL"></a>
    <a mat-icon-button class="fa fa-github" target="_blank" [href]="this.personalInfoService.personalInfo.socialMedia.githubURL"></a>  
    <a mat-icon-button class="fa fa-linkedin-square" target="_blank" [href]="this.personalInfoService.personalInfo.socialMedia.linkedinURL"></a> 
    <a mat-icon-button class="fa fa-envelope" target="_blank" [href]="this.personalInfoService.personalInfo.socialMedia.email"></a> 
   
  </div>
</mat-card>