.d-flex {
    display: flex;
}
.d-center {
    align-self: center;
}
.j-content-center {
    justify-content: center;
}
.j-content-end {
    justify-content: flex-end;
}
.a-content-center {
    align-content: center;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.m-auto {
    margin: auto;
}
.m-l-auto {
    margin-left: auto;
}

/* *************** */
/* Text align */
/* *************** */
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}