<mat-card class="mat-typography">
  <div class="card-title">
    <mat-icon>school</mat-icon>
    <h1 class="mat-headline">Education</h1>
  </div>
  <mat-horizontal-stepper>
    <mat-step *ngFor="let school of this.luisejrobles.schools.reverse()" >
      <div class="step-info">
        <div class="school-name">
          <h2 class="mat-title">{{ school.name }}</h2>
        </div>
        <mat-list>
          
          <h2 mat-subheader>Grade</h2>
          <mat-list-item>
            {{ school.grade }}
          </mat-list-item>
          
          <h2 mat-subheader>Achievements</h2>
          <mat-list-item *ngFor="let achievement of school.achievements">
            <h4 mat-line> 
              {{ achievement }}
            </h4>
          </mat-list-item>
          
          <h2 mat-subheader>Period</h2>
          <mat-list-item> 
            {{ school.period }}
          </mat-list-item>

          <div class="location-div">
            <h2 mat-subheader>Location: </h2>
            <mat-list-item>
              {{ school.location }}
            </mat-list-item>
          </div>

        </mat-list>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>