.achievement-div {
    background-color: green;
    display: block;

}
.card-title {
    /* background-color: aquamarine; */
    margin-bottom: 50px;
    width: 100%;

}
.card-title mat-icon {
    /* background-color: aliceblue; */
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.card-title h1 {
    display: inline-block;
    float: left;
}
.step-info {
    /* background-color: grey; */
    display: block;
    margin-top: 50px;
    width: 100%;
}
.school-name {
    /* background-color: blueviolet; */
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
mat-card {
    margin: 0 auto;
    width: 90%;
    height: 500px;
}
mat-horizontal-stepper {
    /* background-color: azure; */
    margin: 0 auto;
    width: 90%;
}
mat-icon {
    display: inline-block;
}
mat-list {
    text-align: left;
}
mat-list h2 {
    display: inline-block;
}
