<mat-card class="mat-typography">
  
    <div class="card-title">
      <mat-icon>work</mat-icon>
      <h1>Jobs</h1>
    </div>
    
    <div *ngFor="let job of this.luisejrobles.jobs" class="jobs">
      <h4> 
        <b>{{ job.companyName }}</b> - {{ job.career}}
      </h4>
      <p class="mat-caption event-description">
        {{ job.jobDescription }}
      </p>
      <p class="event-date">
        <span>
          <b>Period:</b>
        </span>
        <span class="mat-caption">
          {{ job.period }}
        </span>
      </p>
    </div>
    
  </mat-card>