.text-primary {
    color: white;
}
.bg-primary {
    background-color: white;
}
.text-secondary {
    color: black;
}
.bg-secondary {
    background-color: black;
}

.text-mexican-pink {
    color: #e4007c;
}

