.column {
    /* background-color: grey; */
    float: left;
    width: 50%;
}
.personal-description {
    /* background-color: red; */
    display: inline-block;
    float: left;
    width: 70%;
    text-align: center;
    margin: auto;
}
.personal-photo {
    display: inline-block;
    float: left;
    text-align: center;
    width: 30%;
    vertical-align: middle;
}
