a:hover {
  color: #ea9085;
}

.jumbotron {
  height: 96vh;
  width: 100%;
}

.welcome-div {
  height: auto;
  flex-grow: 1;
}

.hi {
  font-size: 4vw;
}

.handle {
  font-size: 5vw;
}

@media (max-width: 450px) {
  .aka-mobile {
    margin-bottom: -5vh;
    margin-top: -3vh;
  }
  .handle {
    margin-bottom: 50px;
    font-size: 12vw;
  }
  .hi {
    font-size: 12vw;
    margin-top: -44px;
  }
  .jumbotron {
    height: 90vh;
  }
}
