<section name="welcome" class="d-flex jumbotron j-content-center bg-secondary">
  <div class="d-center font-fauna a-content-center welcome-div">
    <h1 class="text-center text-primary hi">Hi 👋 I'm</h1>
    <h1 class="text-center text-primary hi">Luis E. Jiménez Robles</h1>
    <h2 class="text-center text-primary aka-mobile"><small>also known as</small></h2>
    <h1 class="text-center handle font-fredoka text-primary">@luisejrobles</h1>
    <div class="d-flex j-content-center">
      <a href="http://twitter.com/luisejrobles" target="_blank" rel="noopener noreferrer" class="text-mexican-pink"><i class="fab fa-twitter-square fa-3x m-r-xl"></i></a>
      <a href="http://github.com/luisejrobles" target="_blank" rel="noopener noreferrer" class="text-mexican-pink"><i class="fab fa-github-square fa-3x"></i></a>
    </div>
  
  </div>
</section>