<section name="welcome" class="d-flex jumbotron j-content-center bg-secondary">
  <div class="d-center font-fauna a-content-center welcome-div">
    <h1 class="text-center hi">Hi 👋 I'm</h1>
    <h1 class="text-center hi">Luis E. Jiménez Robles</h1>
    <h2 class="text-center aka-mobile text-secondary">
      <small>also known as</small>
    </h2>
    <h1 class="text-center handle font-fredoka">@luisejrobles</h1>
    <div class="d-flex j-content-center">
      <a
        href="http://twitter.com/luisejrobles"
        target="_blank"
        rel="noopener noreferrer"
        class="m-r-xl"
        ><i class="fab fa-twitter-square fa-3x"></i
      ></a>
      <a
        href="http://github.com/luisejrobles"
        target="_blank"
        rel="noopener noreferrer"
        class="m-r-xl"
        ><i class="fab fa-github-square fa-3x"></i
      ></a>
      <a
        href="http://linkedin.com/in/luisejrobles"
        target="_blank"
        rel="noopener noreferrer"
        class="m-r-xl"
        ><i class="fab fa-linkedin fa-3x"></i
      ></a>
      <a
        href="https://drive.google.com/file/d/1iaRpc9Fvcas-SYVGXujJqMBPgdvGTNI8/view?usp=sharing"
        target="_blank"
        rel="noopener noreferrer"
        class=""
        ><i class="fas fa-file fa-3x"></i
      ></a>
    </div>
  </div>
</section>
