/* You can add global styles to this file, and also import other style files */
@import 'assets/css/colors';
@import 'assets/css/alignment';
@import 'assets/css/sizing.css';
@import 'assets/css/margins.css';
@import url('https://fonts.googleapis.com/css?family=Fauna+One|Fredoka+One');
@import '@fortawesome/fontawesome-free/css/all.css';

h1 {
    font-family: 'Fauna One', serif;
}

.font-fauna {
    font-family: 'Fauna One', serif;
}

.font-fredoka {
    font-family: 'Fredoka One', cursive;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    color: white;
    text-decoration-line: none;
}

a:hover {
    color: #f1c40f
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f1c40f;
    border-radius: 3px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c5a00c; 
  }